<%=  link_to "Add a Puppy", new_puppy_path %>

<h1>Welcome to Puppy Rescue</h1>

<% @puppies.each do |puppy| %>
		<p>	<%= puppy.name %></p>
		<p>	<%= puppy.age %></p>
		<p>	<%= puppy.breed %></p>
		<p><img src="<%= puppy.image %>" alt=""></p>
		<p>	<%= puppy.bio %></p>
<% end %>