<h1>Check out <%= @puppy.name %>!</h1>
<h2><%= link_to "Edit this puppy", edit_puppy_path %></h2>
<p>	<%= @puppy.name %></p>
<p>	<%= @puppy.age %></p>
<p>	<%= @puppy.breed %></p>
<p><img src="<%= @puppy.image %>" alt=""></p>
<p>	<%= @puppy.bio %></p>